#section-formulario h2 {
    text-align: center;
}

.formulario {
    background: url(/public/FondoSection3.png);
    color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;
    justify-content: center;
    width: 300px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

form input,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
    font-family: "DM-Sans", sans-serif;
}

input[type="submit"] {
    padding: 10px;
    background-color: #dd1313;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #701010;
    color: black;
}

section-formulario p {
    text-align: center;
}